*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    /*font-family: sans-serif;*/
}

#divLogo{
    margin-top: 35px;
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
}

#divNumeros{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: xxx-large;
    height: 150px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 275px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#divPrincipal{
    background-color: white;
    margin-top: 0;
    margin-left: 275px;
    height: 400px;
    padding-top: 35px;
    font-size: large;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inputEntrada{
    border: none;
    border-bottom: 1px solid #45BDA4;
    margin-right: 25px;
    margin-left: 25px;
    width: 25%;
}

.boton{
    background-color: #45BDA4;
    color: white;
    border-radius: 15px;
    border: none;
    width: 10%;
    height: 40px;
    padding: 10px;
}

#imgContacto{
    width: 10%;
}

#imgLogo{
    width: 60%;
    margin-top: 25px;
}